body {
    color:rgb(255, 255, 255);
    background:rgb(11, 9, 9);
    margin: 0px ;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
    place-items: center;
}

header{

    border-bottom: solid 2px rgb(255, 254, 254);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255)
}

.chamada {
    background: rgb(218, 36, 36);
    margin: auto;
    padding-top: 2px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 51px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(244, 4, 4);
}

.categoria h2 {
    color: ;
    color: rgb(255, 255, 255)
}

.no-underline {
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
}
ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
  }
  
  ol {
    list-style-type: upper-roman;
  }
  
  li {
    margin-bottom: 10px;
  }

.button{
    font-family: "Chakra Petch", sans-serif;
    align-items: center;
    place-items: center;
}

.div {
    width: 50%; /* Define a largura do container */
    margin: center;
}
